
<details {{ if eq .open true }}open="open"{{ end }}>
    {{- with .data }}
    <summary>Chart
        {{- if .shared_dashboard }}
            (<a href="https://app.periscopedata.com/shared/{{.shared_dashboard}}" target="_blank">Sisense↗</a>)
        {{- else if and .dashboard .filters }}
            (<a href="https://app.periscopedata.com/app/gitlab/{{.dashboard }}" target="_blank">Sisense↗</a>)
        {{- else if and .chart .dashboard }}
            (<a href="https://app.periscopedata.com/app/gitlab/{{.dashboard }}/?widget={{.chart}}" target="_blank">Sisense↗</a>)
        {{- end }}
    </summary>
    {{- $api_key := getenv "PERISCOPE_EMBED_API_KEY" }}
    {{- if $api_key }}
      {{- $path := printf "/api/embedded_dashboard?%s" (querify "data" (. | jsonify) | safeURL) }}
      {{- $signature := hmac "sha256" $api_key $path }}
      {{- $url := printf "https://www.periscopedata.com%s&signature=%s" $path $signature }}
      <iframe frameborder="0" width="100%" height="100%" style="min-height:300px;" src="{{- $url | safeURL }}" loading="lazy"></iframe>
    {{- end }}
    {{- end }}
</details>
